@model TeamThing.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "";
}
@section RightContent {
    @if (Model.MissingPeople.Count() > 0)
    { 
        <div class="borderbox">
            <h2 class="etch">
                M.I.A.</h2>
            <ul>
                @foreach (var p in Model.MissingPeople)
                {
                    <li>@p.User.FirstName<br />
                    </li>
                }
            </ul>
        </div>
    }
    <div class="sidebox">
        <h2 class="etch">
            The Team</h2>
        <ul class="teamlist">
            @foreach (var p in Model.Team)
            {
         
                <li>
                    <div class="profileBox" style='background-color:@p.User.Color'>
                        @{var pTasks = Model.UserAssignedThings
                                .Where(t => t.AssignedToUserId == p.UserId)
                                .ToList();}
                        @if (pTasks.Count > 0)
                        {
                            @pTasks.Count
                        }
                        else
                        {
                            <text>?</text>
                        }
                    </div>
                    <b>@p.User.FirstName @p.User.LastName</b><br />
                    <i>@p.User.EmailAddress</i> </li>
            }
        </ul>
    </div>
    <div class="sidebox">
        <h2 class="etch">
            Team Stats</h2>
        <ul class="statlist">
            <li><span>@Model.UserAssignedThings.Count</span> things today</li>
            <li><span>@Model.UserAssignedThings.Select(t => t.Thing).Where(t => t.Status == TeamThing.Model.ThingStatus.Completed).Count()</span>
                things done</li>
            @* <li><span>@Model.Obstacles.Count %></span> obstacles</li>*@
            <li><span>@Model.UserAssignedThings.Select(t => t.Thing).Where(t => t.DateCreated.Date == DateTime.Now.AddDays(-1).Date && t.Status == TeamThing.Model.ThingStatus.Completed).Count()
                / @Model.UserAssignedThings.Select(t => t.Thing).Where(t => t.DateCreated == DateTime.Now.AddDays(-1)).Count()</span>
                done yesterday</li>
        </ul>
    </div>
}
@{var todayTasks = Model.UserAssignedThings.Select(t => t.Thing).Where(t => t.DateCreated.Date == DateTime.Now.Date).OrderBy(t => t.DateCreated).ToList();}
@if (todayTasks.Count <= 0)
{
    <p style="text-align: center; font-style: italic;">
        Nobody is working today. At least, not yet.
    </p>
}
else
{
    <h2>
        Today</h2>
          
    <ul class="tasklist">
        @Html.Partial("_ThingListItem", todayTasks)
    </ul>
}
@{var yesterdayTasks = Model.UserAssignedThings.Select(t => t.Thing).Where(t => t.DateCreated.Date == DateTime.Now.AddDays(-1).Date).OrderBy(t => t.DateCreated).ToList();}
@if (yesterdayTasks.Count() > 0)
{
    <h2>
        Yesterday</h2>
    <ul class="tasklist">
        @Html.Partial("_ThingListItem", yesterdayTasks)
    </ul>
}