@model IList<TeamThing.Model.Thing>
@foreach (var t in Model)
{
        <li class="@t.Status.ToString().ToLower() %>">
            <div class="teamProfile fontborder" style='background-color:@t.AssignedTo.First().AssignedToUser.Color'>
            <ul>
                @foreach (var u in t.AssignedTo)
                {
                    <li>@u.AssignedToUser.FirstName  @u.AssignedToUser.LastName</li>
                }
                </ul>
  </div>
      @if (t.Status != TeamThing.Model.ThingStatus.InProgress)
      {
               <div class="status">@t.Status.ToString()</div>
            }
            <span class="tasktext">@t.Description</span>
            <div style="clear:both;"></div>
        </li>
}
